<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Azure, Microsoft Azure, Azure Storage, Azure network latency, Azure Blob Upload Speed" />
    <meta name="description" content="AzureSpeed.com - Test network latencies and speed to Azure data centers from different countries." />
    <title>@ViewBag.Title - Azure Speed Test</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/azurespeed")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            var layout = {
                initEvents: function () {
                    $(window).bind("load resize", function () {
                        var topOffset = 50;
                        var width = (this.window.innerWidth > 0) ? this.window.innerWidth : this.screen.width;
                        if (width < 768) {
                            $('div.navbar-collapse').addClass('collapse');
                            topOffset = 100; // 2-row-menu
                        } else {
                            $('div.navbar-collapse').removeClass('collapse');
                        }

                        var height = (this.window.innerHeight > 0) ? this.window.innerHeight : this.screen.height;
                        height = height - topOffset;
                        if (height < 1) height = 1;
                        if (height > topOffset) {
                            $("#page-wrapper").css("min-height", (height) + "px");
                        }
                    });
                }
            };
            layout.initEvents();
        });
    </script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-48373679-1', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">AzureSpeed.com</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                @*@Html.Partial("_LoginPartial")*@
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="~/Azure/Latency"><i class="fa fa-send fa-fw"></i> Latency Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/CDN"><i class="fa fa-cloud fa-fw"></i> CDN Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/Upload"><i class="fa fa-cloud-upload fa-fw"></i> Upload Speed Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/UploadLargeFile"><i class="fa fa-upload fa-fw"></i> Large File Upload Speed Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/Download"><i class="fa fa-cloud-download fa-fw"></i> Download Speed Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/LiveStreaming"><i class="fa fa-cloud-download fa-fw"></i> Live Streaming Latency Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/CloudRegionFinder"><i class="fa fa-search fa-fw"></i> Cloud Region Finder</a>
                        </li>
                        <li>
                            <a href="~/Azure/TrafficManager"><i class="fa fa-globe fa-fw"></i> Traffic Manager Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/AzureOnlineTools"><i class="fa fa-gears fa-fw"></i> Azure Online Tools</a>
                        </li>
                        <li>
                            <a href="~/Azure/Reference"><i class="fa fa-globe fa-fw"></i> Reference</a>
                        </li>
                        <li>
                            <a href="~/Azure/About"><i class="fa fa-book fa-fw"></i> About</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
        </div>
        <div class="footer">
            <footer class="footer">
                <p>&copy; @DateTime.Now.Year - AzureSpeed.com | By <a href="http://blchen.com" target="_blank">Blair Chen</a>, using <a href="https://github.com/orcame/jazure" target="_blank">jazure</a>
            </footer>        
        </div>
        
    </div>
</body>
</html>
