<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Azure, Microsoft Azure, Azure Storage, Azure network latency, Azure Blob Upload Speed" />
    <meta name="description" content="AzureSpeed.com - Test network latencies and speed to Azure data centers from different countries." />
    <title>@ViewBag.Title - Azure Speed Test</title>
    @Styles.Render("~/Content/css")
    @Html.Partial("_Analytics")
</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">AzureSpeed.com</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                @*@Html.Partial("_LoginPartial")*@
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="~/Azure/Latency"><i class="fa fa-send fa-fw"></i> Latency Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/CDN"><i class="fa fa-cloud fa-fw"></i> CDN Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/Upload"><i class="fa fa-cloud-upload fa-fw"></i> Upload Speed Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/UploadLargeFile"><i class="fa fa-upload fa-fw"></i> Large File Upload Speed Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/Download"><i class="fa fa-cloud-download fa-fw"></i> Download Speed Test</a>
                        </li>
                        <li>
                            <a href="~/Azure/LiveStreaming"><i class="fa fa-video-camera fa-fw"></i> Live Streaming Latency Test</a>
                        </li>
                        <li>
                            <a href="~/Cloud/IpRange"><i class="fa fa-list-alt fa-fw"></i> Cloud IP Range</a>
                        </li>
                        <li>
                            <a href="~/Cloud/RegionFinder"><i class="fa fa-search fa-fw"></i> Cloud Region Finder</a>
                        </li>
                        <li>
                            <a href="~/Azure/TrafficManager"><i class="fa fa-globe fa-fw"></i> Traffic Manager Test</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> Azure Online Tools<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="~/AzureOnlineTools/EnableStorageCORS">Enable Storage CORS</a>
                                </li>
                                <li>
                                    <a href="~/AzureOnlineTools/GenerateEventHubSAS">EventHub SAS Generator</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="~/Azure/Reference"><i class="fa fa-book fa-fw"></i> Reference</a>
                        </li>
                        <li>
                            <a href="~/Azure/About"><i class="fa fa-book fa-fw"></i> About</a>
                        </li>

                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            @RenderBody()
            @Html.Partial("_Adsense")
        </div>
        <div class="footer">
            <footer class="footer">
                <p>&copy; @DateTime.Now.Year - AzureSpeed.com | By <a href="http://blchen.com" target="_blank">Blair Chen</a>, using <a href="https://github.com/orcame/jazure" target="_blank">jazure</a>
            </footer>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/3rd")
    @Scripts.Render("~/bundles/sb-admin-2")
    @Scripts.Render("~/bundles/jazure")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
